PORT=3000
NODE_ENV=development

# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=devshowcase
POSTGRES_PORT=5432

# Prisma Database URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/devshowcase?schema=public"
